/* Global Layout Set-up */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  margin: 0px;

}

p {
  padding-left: 5px;
  padding-right: 5px;
}

/* ID */

#game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}


/*CLASSES*/

.page-title {
  text-align: center
}

.game-info-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;

}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
}

.card {
  background-color: black;
  height: 175px;
  width: 125px;
}
}

/* MEDIA QUERIES */

@media only screen and (min-width: 320px) {
}


@media only screen and (min-width: 768px) {

}



@media only screen and (min-width: 1024px) {


}
