/* Global Layout Set-up */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;

}

#mainpage {
  color: white;
}

h1 {
  font-size: 35px
}

}

.navbar {
  position: fixed;
}

p {
  padding-left: 5px;
  padding-right: 5px;
}

/* ID */

#game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}


/*CLASSES*/

.game-information {
  display: flex;
  flex-direction: column;
      text-align: center;
    }

.page-title {
  text-align: center
}

.game-info-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;

}

.game-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.game-card {
  position: relative;
  height: 175px;
  width: 125px;

}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 500ms ease-in-out;
}

.game-card.visible .card-back {
  transform: rotateY(-180deg);
}

.game-card.visible .card-front {
  transform: rotateY(0);
}


.card-front {
  transform: rotateY(180deg);

}

.card-value,
.card-sleeve {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: transform 200ms ease-in-out;
}

.card-back:hover .card-sleeve {
transform: scale(1.1);
}

.flexbox {
  flex-basis: 65px;
}


/*SHINE*/

.gloss {
  overflow: hidden;
}

.gloss:after {

  animation: shine 5s cubic-bezier(.46,.91,1,.94) infinite 500ms;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -110%;
  left: -220%;
  height: 350px;
  width: 250px;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger gloss */


/* Active state */

.gloss:active:after {
  opacity: 0;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -35%;
    left: -35%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -35%;
    left: -35%;
    transition-property: left, top, opacity;
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size 0;
  }

  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 6em;
  }
}


/* MEDIA QUERIES */

@media (max-width: 600px) {

  #mainpage {
  background-image: url("../images/game-background.jpg");
  background-size: cover;
     background-repeat: no-repeat;
  }

  #homecontent {
    background: rgba(255, 255, 255, .3);
  }

  .game-container {
    grid-template-columns: repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
  }
}


@media only screen and (min-width: 320px) {

}


@media only screen and (min-width: 768px) {

  .main-content {
      flex-direction: row;
  }

  h1 {
    font-size: 35px
  }

  .game-information {

    flex-direction: row;
    text-align: center;
        text-align: left;
  }
}



@media only screen and (min-width: 1024px) {


}
