/* Global Layout Set-up */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
    width: 100vw;
}

body {
  margin: 0px;

}

.main-intro {
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.navbar {
background-image: url('images/kubo-verticle-nav.jpg');
}

#home-content {
    transition: transform 500ms ease-in-out;
}

#myVideo {
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -100;
  background-size: auto;
  overflow: hidden;
}

.main-content .main-intro,
.main-content .youTube {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.fade-in {
  animation: fadeIn ease 4s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* MEDIA QUERIES */

@media (max-width: 600px) {

  #myVideo {
  display: none;
}

.youTube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.youTube iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

}

@media only screen and (min-width: 600px) {
  .hide {
    opacity: 0;
  }

  .faded-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

}

@media only screen and (min-width: 768px) {



  .navbar-expand-lg .navbar-nav,
  .navbar {
    display: flex;
    flex-direction: column;
  }

#sitenav {
  grid-area: nav;
}

#mainpage {
  grid-area: mainpage;
}

  .pagesetup {
    display: grid;
    height: 100vh;
    grid-row: 1;
    grid-template-columns: 200px auto;
    grid-template-areas: "nav mainpage";
  }

.navbar-brand {
  margin-top: 2rem;
}
.navbar-collapse {
  margin-top: 3rem;
  flex-grow: 0;
}

.main-intro h2,
.main-intro p {
  margin: 15px 200px;
}

}



@media only screen and (min-width: 1024px) {



}
