/* Global Layout Set-up */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

hover { cursor: pointer; }

body {
  margin: 0px;

}

.main-intro {
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 100vh;
  opacity: 0.8;
background: linear-gradient(315deg, #000000 0%, #b82e1f 84%);
}


#main-page {
  height: 100vh;
  overflow: hidden;
}


.bts {
  font-size: 90%;
}

.logo {
  height: 80px;
  width: 100px;
  margin-top: 30px;
}

#home-content {
    transition: transform 500ms ease-in-out;
}

#homeVideo,
#myVideo {
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -100;
  background-size: auto;
  overflow: hidden;
}

.main-content .main-intro,
.main-content .youTube {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.position-indicators {
  z-index: 55;
}

.char-profile {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.icon {
  height: 50px;
  width: 50px;
  fill: white;
}


.carousel-item span {
  position: absolute;
 bottom: 120px;
 right: 120px;
  color: white;

  height: 60vh;
  width:450px;
}

.slide-img {
  margin-left: 15px;
  width: auto;
    height: 600px;

  }


.fade-in {
  animation: fadeIn ease 3s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


#monkey {
  background: url("../../kubo-site/images/blue-background.jpg");
  border: 1px solid white;

}

#beatle {
  background: url("../../kubo-site/images/card-color.jpg");
  border: 1px solid gray
}

#monkey,
#beatle {
  width: 250px;
  height:350px;
  background-position: center;
 background-size: cover;
 overflow: hidden;
 display: flex;
 margin: auto;
 flex-direction: column;

}

#monkey img:hover,
#beatle img:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.card-logo {
 height: 321px;
 width: auto;
 margin: auto;
}


/* MEDIA QUERIES */

@media (max-width: 600px) {

  .navbar {
    opacity: 1;
    background: black;
    border-bottom: 1px white solid;
  }

  #home-content {
    min-height: 100vh;
    background: url("../../kubo-site/images/kubo-mobile.png");
    background-position: center;
   background-size: cover;
   overflow: hidden;
  }

  #homeVideo,
  #myVideo {
  display: none;
}

#homeVideo,
#myVideo,
.youTube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

#homeVideo iframe,
#myVideo iframe,
.youTube iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

}

@media only screen and (min-width: 600px) {

  #monkey {
    margin-left: 250px;
  }

  #beatle {
    margin-right: 250px;
  }

  .trivia {
   height: 100vh;
    }

  .hide {
    opacity: 0;
  }

  .faded-overlay {
        background-color: rgba(0, 0, 0, 0.8);
  }

}

@media only screen and (min-width: 768px) {



  .navbar-expand-lg .navbar-nav,
  .navbar {
    display: flex;
    flex-direction: column;
  }

#sitenav {
  grid-area: nav;
}

#mainpage {
  grid-area: mainpage;
}

  .pagesetup {
    display: grid;
    height: 100vh;
    grid-row: 1;
    grid-template-columns: 200px auto;
    grid-template-areas: "nav mainpage";
  }

.navbar-brand {
  margin-top: 2rem;
}
.navbar-collapse {
  margin-top: 3rem;
  flex-grow: 0;
}

.main-intro h2,
.main-intro p {
  margin: 15px 200px;
}

}



@media only screen and (min-width: 1024px) {



}
